
div{
    margin: 20px;
    background-color: rgb(105, 105, 219);
    height: 670px;
    padding: 20px;
}

h1{
    margin-top: 10px;
    font-size: 100px;
    line-height: 150px;
    letter-spacing: 7px;
}